<div class="row d-flex justify-content-center">
  <img class="bandita" src="../assets/banditass.png">
</div>
<div class="menu">
    <div class="titulo">
      <h1><span class="naranja">M</span>
        <span class="verdelimon">E</span>
        <span class="amarilla">X</span>
        <span class="naranja">I</span>
        <span class="azul">C</span>
        <span class="lila">A</span>
        <span class="naranja">N</span>
        <span class="verdelimon">E</span>
        <span class="amarilla">A</span>
        <span class="naranja">N</span>
        <span class="azul">D</span>
        <span class="lila">O</span></h1>
    </div>
    <button class="btn btn-pink menu" routerLink="formulario">A Jugar</button>
    <button class="btn btn-pink menu">Reglas</button>
    <button class="btn btn-pink menu" routerLink="creditos" >Créditos</button>
    <button class="btn btn-pink menu">Salir</button>
</div>
