
<main>
  <div class="container">
    <router-outlet></router-outlet>

  </div>
</main>

<div *ngIf="false">
  <h1 class="fuentes">Copyright © 2023 MIKAM Studio Todos los derechos reservados.</h1>
</div>






