@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');


.contenido {
  background-color: #FFFDE7 !important;

  width: 100% !important;
  height: 100% !important;

}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 84px;
}

.btn {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.btn-pink {
  background-color: #e91e63 !important;
  border-radius: 55px !important;
  width: 140px !important;
}

.bandita {
  margin-top: 20px;
  width: 950px;
}

.naranja {
  color: #FF5733;
}

.verdelimon {
  color: #99FF99;
}

.amarilla {
  color: #FFFF99;
}

.lila {
  color: #6600CC;
}

.azul {
  color: #3399FF;
}

span {
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
}

.fuentes {
  text-align: center;

}

@media (max-width: 1036px) {

  .bandita {
    width: 700px;
  }

  span {
    font-size: 70px;
  }
}

@media (max-width: 700px) {
  .bandita {
    width: 500px;
  }

  span {
    font-size: 50px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
