.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.iconohome{
    width: 50px;
    height: 50px;
    margin: 10px 0px 10px 12px;
}

.parte1{
    background-color: #e7fffd;

}
.encabezado{
    display: flex;
}

.parte2{
    background-color: yellowgreen;

}
#NuevoJuego{

    margin: 10px 0px 0px 318px;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

.formulario{
    margin: 10px 93px 10px 69px;
    font-size: 18px;
}

/*

.fichas{
    display: grid;
    grid-template-columns: repeat(5, 7fr);
    margin: 10px 43px 10px 10px;
}

*/

.imgficha{
    width: 100px;
    height: 100px;
    margin: -16px 0px 10px 31px;
}
.imgficha:hover{
    opacity: 0.5;
}

.btn-pink {
    background-color: #e9831e;
    border-radius: 55px;
    width: 140px;
    margin: 10px 26px 39px 202px;
    color: white;
}

#Unirse{
   text-align: end;
   margin: 10px 35px 0px 0px;
}

#tabla{
    width: 500px;
    margin: 10px 0px 13px 72px;
    border-color: black;
    border-width: 1px;
}
td{
    border-width: 1px;
}

th{
    background-color: rgb(203, 255, 47);
    border-width: 1px;
}

